.b-dao-iframe{background:#f9f0e0;width:520px;padding:15px;font:12px/18px tahoma, arial, sans-serif;color:#333;margin:0;position:relative;min-height:155px;}
.b-dao-iframe .fn{padding:0;margin:0 0 0 120px;font:normal 18px verdana, arial, sans-serif}
.b-dao-iframe .fn,.b-dao-iframe .url{color:#70aae0;font-size:18px}
.b-dao-iframe .photo{float:left;*border-right:1px solid #ccc;margin:-22px 19px 0 0;width:100px;}
.b-dao-iframe .price{display:block;font-family:arial, sans-serif;font-size:16px;padding:8px 0 4px}
.b-dao-iframe .vendors{font-size:11px}
.b-dao-iframe .brand,.b-dao-iframe .author{color:#9b835a}
.b-dao-iframe .description{overflow:hidden;margin:0}
.b-dao-iframe .btn{display:block;padding:5px 15px 6px 37px;font-size:14px;background-color:#3781B7;background-position:11px 6px;background-repeat:no-repeat;
	color:#fff;border-radius:3px;text-decoration:none;position:absolute;left:15px;top:120px;height:17px;width:49px;}
.b-dao-iframe .btn:hover{background-color:#555}
.b-dao-iframe .btn.buy{background-image:url(../img/shop/dao_cart_add.png)}
.b-dao-iframe .btn.download{background-image:url(../img/shop/dao_download_item.png)}
.b-dao-iframe .purchases{position:absolute;top:153px;left:15px}
.dao-event-date { margin-bottom: 13px; font-family: Arial, sans-serif; }
.dao-event-date strong { font-size: 20px; line-height: 1.2em; display: block; }
.dao-event-date span { color: #aaa; margin-left: 10px; }


.b-dao-iframe .fn, .b-dao-iframe .url,
.dao-catalog-item-list li .dao-item-title a {
	color: #4C5264!important;
	font-weight: bold!important;
	text-decoration: none!important;
}

.b-dao-iframe .fn:hover, .b-dao-iframe .url:hover,
.dao-catalog-item-list li .dao-item-title a:hover {
	color: #EA4E3C!important;
}

.b-dao-iframe {
	background: none!important
}

.b-dao-iframe {
	color: #fff;
}