body{background:#eee;color:#363A46;}
.text{font-size:13px;font-family:Verdana, sans-serif;}
.topic{position:relative;border:0;overflow:visible;margin-top:40px;padding:40px 10px 50px;}
.topic .topic-footer .slide.slide-topic-info-extra li a,.topic .topic-header .topic-info .topic-blog,.topic .topic-header .topic-title,.topic .topic-header .topic-title a{text-decoration:none;color:#4C5264;border:0;font-weight:700;font-size:14px;line-height:1.2;}
.js-title-comment a,.slide.slide-write li a,.nav-foldable-wrapper .slide li a,.topic .topic-footer .slide.slide-topic-info-extra li a{text-decoration:none;border-bottom:1px dotted;color:#49495A!important;font-size:12px;display:inline-block;font-weight:400!important;}
.js-title-comment a{border-bottom:0;text-decoration:underline!important;font-size:11px;}
.topic .topic-header .topic-info .topic-blog{font-size:12px;}
.slide.slide-write li,.nav-foldable-wrapper .slide li{padding-bottom:2px;padding-top:2px;}
.nav-foldable-wrapper .slide{padding-bottom:15px;padding-top:15px;}
.topic .topic-footer .slide.slide-topic-info-extra li{padding:2px 0;}
.topic .topic-header{text-align:center;}
.pagination .pagination-current,.pagination .pagination-arrow{border:2px solid #49495A;font-weight:700;color:#49495A;box-shadow:none!important;}
.topic .topic-header .circle{position:absolute;left:50%;margin-left:-30px;top:-25px;width:60px;height:60px;background:#fff;padding:5px;}
.topic .topic-header .circle img{width:100%;height:100%;max-width:100%;display:block;}
.topic .topic-footer .topic-info{position:absolute;width:100%;left:0;bottom:0;background-color:#6964A7;font-weight:700;color:#fff;background-image:url(../images/curl.png);background-position:right bottom;background-repeat:no-repeat;display:block;overflow:hidden;max-height:25px;margin:0;}
.topic .topic-footer .topic-info-extra li.topic-info-author{padding-left:0;height:5px;width:100%;}
.topic .topic-footer .topic-info li.topic-info-share{right:40px;height:37px;}
.topic .topic-footer .topic-info li.topic-info-views{padding-left:20px;}
.topic .topic-content{padding-bottom:10px;padding-top:10px;border-top:1px dotted #DDD;border-bottom:1px dotted #DDD;margin-bottom:0;}
.topic .topic-more{margin-bottom:0;margin-top:10px;text-align:right;padding:0;}
.button,.button.button-primary{font-weight:700;border:0;font-size:11px;color:#fff;text-decoration:none;padding:7px 9px;}
.button,.button:hover{background:#1ABC9C;color:#fff;padding:7px 9px;}
.button.button-primary,.button.button-primary:hover{background:#A764A2;color:#fff;}
#footer{background-color:#6964A7;color:#fff;margin-top:5px;padding:0;}
.vote-result.vote-count-positive{background:none;box-shadow:none;color:#fff;font-weight:700;}
.input-text{box-shadow:none;border:1px solid #ddd;}
.topic .topic-footer .topic-info li.topic-info-share.active{background-color:#fff;}
.text blockquote{background-color:#f8f8f8;border-color:#6964A7;}
.topic .topic-footer .slide.slide-topic-info-extra{border:0;background-color:#f8f8f8;margin-top:15px;}
.pagination .pagination-arrow.pagination-arrow-prev.inactive{border-color:#ccc;}
.topic .topic-footer .topic-info-extra li.topic-info-author time{display:inline-block;float:left;}
.topic .topic-footer .topic-info-extra li.topic-info-author p{max-width:100%;}
.topic .topic-footer .topic-info li.topic-info-favourite.active,.vote-result.vote-count-zero{background:none;color:#fff;box-shadow:none;font-weight:700;}
.topic .topic-footer .topic-info-extra li.topic-info-extra-trigger{right:0;bottom:-17px;}
.topic .topic-footer .topic-info-extra li.topic-info-extra-trigger.active{background:none;}
.nav-foldable-wrapper .nav-foldable-trigger.nav-foldable-primary{color:#6964A7;border-color:#6964A7;}
#header .site-name:before{background:none!important;content:none;}
#header .userbar-trigger.active,#header .nav-userbar li.item-primary{background-color:#A764A2!important;}
#userbar .userbar-menu-inner{background:#251F2C;}
#userbar .userbar-menu-items{border-top:1px solid #251F2C;}
#userbar .userbar-menu-user{background:#342841;}
#userbar{background:#40374A;}
.comment .comment-content.text{background:#fff;border:0;margin-bottom:10px;padding:10px 15px;}
.comment-actions .icon-favourite{background-position:-126px -182px;}
.comment-actions .icon-favourite.active{background-position:-80px -182px;}
.vote-result.voted.vote-count-positive:before{border-color:#fff;}
.comment .comment-info.comment-topic-author{background:none;border-left:5px solid #6964A7;}
#wrapper.hidden{display:block!important;}
.blog-list li h3 a{text-decoration:none;}
a:hover{color:#EA4E3C;}
.item-list li{border-bottom:0;background:#fff;margin:1px;padding:11px 0 0 30px;}
.item-list li .avatar{width:15px;height:15px;left:10px;top:16px;}
.item-list li p{color:#999;padding-top:0; padding-left: 3px;}
.topic .topic-footer .topic-info li{padding:4px 6px;}
.topic-footer .icon-topic-menu{width:27px;height:20px;background-position:-85px -55px;}
.js-block-stream-content{margin-top:20px;}
.js-block-stream-content .item-list{margin-top:-20px;}
.topic .topic-footer .topic-info li.topic-info-vote{top:-2px;position:relative;padding:0;}
.blog{box-shadow:none;}
a,.item-list li .author{color:#727A90;}
.topic .topic-footer .topic-info li.topic-info-comments a span.comments-new,
.topic .topic-footer .topic-info li.topic-info-comments a span.comments-count,#footer a{color:#fff;}
.topic .topic-footer .topic-info-extra,#footer .footer-inner,.topic .topic-footer .topic-info-extra li.topic-info-author p a,.stream-get-more,#content,.topic .topic-footer .topic-tags,.wrapper{border:0;}
.viewcount,.slide .write-item-image,.slide.slide-write li i{display:none;}
.topic .topic-footer .topic-info-extra li.topic-info-author p a.author,.topic-footer .topic-info-extra-trigger{float:right;}
#header,.profile-actions,.blog .actions{background-color:#6964A7;}
h1,h2,h3,h4,h5,h6 { font-family: Tahoma, Verdana, sans-serif; }